.bestChoose
  padding 0 30px 40px 30px
  background #fff
  margin-bottom 20px
  .be_title
    font-size 24px
    height 120px
    line-height 120px
    text-align: center
  .be_img
    position relative
    width 100%
    height 376px
    margin-bottom 30px
    img
      width 100%
    .be_name
      font-size 28px
      height 44px
      line-height 44px
      width 160px
      text-align: center
      border-radius 20%
      position absolute
      top 36px
      left 30px
      display inline-block
      background #fff
  .be_list
    .list_title
      height 120px
      padding 24px 20px 0 20px
      margin-bottom 30px
      span
        float left
        font-size 36px
      .li_price
        float right
      .list_info
        font-size 24px
        color #999
        margin-top 66px
    .list_con
      .li_item
        width 100%
        margin-bottom 30px
        padding 24px 30px 0 20px
        box-sizing border-box
        border 2px solid #d9d9d9
        display flex
      .li_text
        margin-right 60px
        padding 0 20px
        box-sizing border-box
        .avatar
          width 18%
          border-radius 50%
          vertical-align middle
        .li_name
          font-size 24px
          color #999
        .year
          width 282px
          font-size 36px
          color #333
          margin-bottom 30px
        .youhui
          font-size 24px
          color #666
      .item_Img
        width 40%
        height 50%
        margin-bottom 24px