@import "../../assets/stylus/mixins.styl"
.classify
  background #fff
  .itemClass
    margin-bottom 30px
    .title
      text-align: center
      height 60px
      line-height 100px
      .intro
        font-size 32px
        color: #333
    .every
      width 100%
      clearFix()
      .everyItem
        width 50%
        box-sizing border-box
        padding 0 10px 14px 20px
        float left
        img
          width 100%
        .info
          height 60px
          line-height 50px
          font-size 24px
          text-align: center
          background #F1ECE2
          color #9F8A60
        .name
          margin 26px 0 16px
          font-size 28px
        .pirce
          font-size 32px
          color $red