.queryTen {
  background: #fff;
  margin-bottom: 20px;
  padding: 0 30px 30px 40px;
}
.queryTen .qu_title {
  text-align: center;
  height: 120px;
  line-height: 120px;
}
.queryTen .qu_Scroll {
  width: 100%;
  display: flex;
}
.queryTen .qu_Scroll .qu_list {
  display: flex;
}
.queryTen .qu_Scroll .qu_list .qu_item {
  width: 500px;
  height: 294px;
  text-align: center;
  padding: 38px 40px 76px 40px;
  margin-right: 30px;
  background: url("//yanxuan-static.nosdn.127.net/hxm/yanxuan-wap/p/20161201/style/img/icon-normal/tenFifteen-2a1d0ea11b.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.queryTen .qu_Scroll .qu_list .qu_item .item_title {
  font-size: 24px;
  color: #666;
  margin-bottom: 44px;
}
.queryTen .qu_Scroll .qu_list .qu_item .item_title span {
  margin: 0 10px;
}
.queryTen .qu_Scroll .qu_list .qu_item .item_name {
  margin-bottom: 30px;
  font-size: 36px;
  font-weight: 600;
}
.queryTen .qu_Scroll .qu_list .qu_item .item_text {
  font-size: 28px;
  color: #666;
}
.queryTen .qu_Scroll .qu_list .qu_item .item_talking {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.queryTen .qu_Scroll .qu_list .qu_item .item_talking .avatar {
  width: 50px;
  vertical-align: middle;
  border-radius: 50%;
}
.queryTen .qu_Scroll .qu_list .qu_item .item_talking .item_avatar {
  width: 44px;
  height: 44px;
  background-color: #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.queryTen .qu_Scroll .qu_list .qu_item .item_talking .item_avatar .doc {
  width: 6px;
  height: 6px;
  background: #fff;
  border-radius: 50%;
  margin-right: 4px;
}
.queryTen .qu_Scroll .qu_list .qu_item .item_talking .item_person {
  font-size: 24px;
  color: #666;
}
.queryTen .qu_Scroll .qu_list .qu_more {
  float: left;
  height: 364px;
  width: 560px;
  border: 10px solid #e6e6e6;
  position: relative;
}
.queryTen .qu_Scroll .qu_list .qu_more .seemore {
  width: 240px;
  height: 38px;
  font-size: 32px;
  color: #666;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.queryTen .qu_Scroll .qu_list .qu_more .seemore .iconfont {
  font-size: 32px;
}
