@media only screen and (-webkit-device-pixel-ratio: 2) {
  .border-1px::before {
    transform: scaleY(0.5);
  }
}
@media only screen and (-webkit-device-pixel-ratio: 3) {
  .border-1px::before {
    transform: scaleY(0.333333);
  }
}
.recoWrap {
  width: 100%;
  height: 1150px;
  z-index: -1;
  margin-top: 90px;
}
.recoWrap .papaWrap {
  width: 100%;
}
.recoWrap .papaWrap .bannerWarp {
  width: 100%;
  height: 432px;
  box-sizing: border-box;
  padding: 24px 0;
  background: #fff;
}
.recoWrap .papaWrap .bannerWarp .swiper-container {
  overflow: visibility !important;
}
.recoWrap .papaWrap .bannerWarp .swiper-container img {
  width: 100%;
}
.recoWrap .papaWrap .article {
  background: #fff;
  width: 100%;
  height: 286px;
  padding: 30px;
  box-sizing: border-box;
  margin-bottom: 20px;
  display: flex;
}
.recoWrap .papaWrap .article .list {
  display: flex;
}
.recoWrap .papaWrap .article .list li {
  width: 164px;
  height: 220px;
  margin-right: 24px;
  text-align: center;
  font-size: 24px;
  position: relative;
}
.recoWrap .papaWrap .article .list li img {
  width: 100%;
  margin-bottom: 20px;
}
.recoWrap .papaWrap .article .list li .number {
  font-size: 24px;
  color: #fff;
  background-color: rgba(0,0,0,0.2);
  position: absolute;
  right: 0;
  top: 0;
}
