@import "../../assets/stylus/mixins.styl"
.projectGoods
  width 100%
  background #fff
  margin-bottom 20px
  .pro_title
    font-size 32px
    height 110px
    display flex
    align-items center
    justify-content center
    .iconfont
      font-size 32px
  .pro_wrap
    width 100%
    display flex
    .pro_list
      display flex
      padding 0 30px 30px 30px
      box-sizing border-box
      .pro_item
        width 576px
        margin-right 24px
        img
          width 100%
        .pro_name
          margin 20px 0
          font-size 28px
          .price
            float right
            color: $red
        .pro_msg
          font-size 24px
          color #666