@import "../../assets/stylus/mixins.styl"
.hotThings
  width 100%
  margin-bottom 20px
  background #fff
  .title
    text-align: center
    height 260px
    background-image url("//yanxuan-static.nosdn.127.net/hxm/yanxuan-wap/p/20161201/style/img/icon-normal/bitmap2-d626e0b52a.png")
    background-size 750px 260px
    color: #B4A078
    margin-bottom 30px
    position relative
    .new
      font-size 36px
      position absolute
      top 28%
      left 30%
    .more
      position absolute
      top 50%
      left 34%
      background #F4E9CB
      width 240px
      height 56px
      line-height 56px
      font-size 30px
  .hotWrap
    width 100%
    display flex
    .newList
      display flex
      .item
        width 260px
        margin-left 30px
        img
          width 100%
          background #f4f4f4
        .info
          font-size 24px
          margin 26px 0 8px
          color #666
        .name
          font-size 28px
        .pirce
          font-size 32px
          color $red
      .seeMore
        height 260px
        font-size 32px
        line-height 260px
        text-align: center
        border 4px solid #f4f4f4